:root {
    /* Colors */
    --bg-color: #2e3440;
    --foreground-color: #4c566a;
    --text-color: #eceff4;
    --accent: #5e81ac;
    --accent-hover: #5d88bc;
    --black: #0c0b0b;

    /* Font Sizes */
    --font-size-small: 0.875rem;
    /* 14px */
    --font-size-medium: 1rem;
    /* 16px */
    --font-size-large: 1.25rem;
    /* 20px */
    --font-size-xlarge: 1.5rem;
    /* 24px */
    --font-size-xxlarge: 2rem;
    /* 32px */
    --font-size-title: 2.5rem;
    /* 40px */
}

@media (max-width: 768px) {
    :root {
        /* Scaled Down Font Sizes for Mobile */
        --font-size-small: 0.75rem;
        /* 12px */
        --font-size-medium: 0.875rem;
        /* 14px */
        --font-size-large: 1rem;
        /* 16px */
        --font-size-xlarge: 1.25rem;
        /* 20px */
        --font-size-xxlarge: 1.5rem;
        /* 24px */
        --font-size-title: 2rem;
        /* 32px */
    }
}

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: var(--bg-color);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    min-height: 100vh;
}

h1 {
    font-size: var(--font-size-title);
}

.primary-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--accent);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 150px;
}

.primary-button:hover {
    background-color: var(--accent-hover);
}

p {
    font-size: var(--font-size-medium);
}

/* LANDING PAGE */
.landing-container {
    background-color: var(--bg-color);
    min-height: 100vh;
    color: var(--text-color);
    background-image: url(./assets/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-header h1 {
    font-weight: 700;
}

.landing-header p {
    font-weight: 500;
    font-size: var(--font-size-large);
}

.landing-highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 2em;
}

.subtitle {
    font-size: 1.25rem;
    margin-top: 10px;
}

.landing-highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 8em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.highlight {
    animation: fadeIn 0.5s ease forwards;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    background-color: var(--bg-color);
    border-radius: 16px;
    height: 250px;
    /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px var(--black);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    border: 2px solid transparent;
}

@media (max-width: 1200px) {
    .landing-highlights {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 850px) {
    .landing-highlights {
        grid-template-columns: 1fr;
    }
}


.highlight:hover {
    box-shadow: 0 8px 30px var(--black);
    border-color: var(--accent);

}


.highlight h2 {
    font-size: 1.5rem;
    text-align: center;
}

.highlight p {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}

/* MAP & FORM */
#main-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.sidebar {
    width: 350px;
    min-width: 350px;
    height: auto;
    padding: 20px;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map-container {
    flex: 3;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.form-header {
    margin-bottom: 1em;
    text-align: center;
}

label {
    font-size: var(--font-size-medium);
    color: var(--text-color);
    margin-top: 10px;
}

input[type="number"],
input[type="email"],
.styled-select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    background-color: var(--foreground-color);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    outline: unset;
    transition: 0.1s ease-in-out;
}

input[type="number"]:focus,
input[type="email"]:focus,
.styled-select:focus {
    border-color: var(--accent);
    background-color: var(--accent-hover);
}

.email-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-container input[type="email"] {
    margin-bottom: 10px;
}

/*Drop Down styles*/
.styled-select {
    padding: 10px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--foreground-color);
    border: 2px solid var(--accent);
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
}

.styled-select::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--text-color);
}

.styled-select option {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px;
}

.styled-select:focus {
    border-color: var(--accent-hover);
}

/* Cloud Coverage Slider Styles */
.slider-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slider {
    appearance: none;
    height: 5px;
    border-radius: 5px;
    margin-top: 10px;
    background: var(--accent);
    cursor: pointer;
}

.slider-container {
    margin-top: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent-hover);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent-hover);
    cursor: pointer;
}

/* Form Animations */
.fade-label,
.fade-input {
    transition: opacity 0.5s ease-in-out;
    height: auto;
    display: block;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

/*Container*/
.landsart-data-container{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/*Image Comp Styles*/
.image-container {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*BANDS COMP STYLES*/
.bands-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.bands-control-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.bands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 20px;
    justify-items: center;
}

@media screen and (max-width: 1200px) {
    .bands-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 1050px) {
    .bands-grid {
        grid-template-columns: repeat(2 1fr);
    }

}

@media screen and (max-width: 740px) {
    .bands-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}


.band-card {
    /* Enables 3D perspective for the card */
    perspective: 1000px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
}

.bands-header p {
    font-size: var(--font-size-medium);
    font-style: italic;
}

.band-card-inner {
    position: relative;
    width: 100%;
    height: 200px;
    transition: transform 0.6s;
    /* Smooth transition for flip */
    transform-style: preserve-3d;
    /* Maintain 3D space for child elements */
}

.band-card-front,
.band-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Hide back face when not flipped */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--foreground-color);
    border: 1px solid var(--text-color);
}

.band-card-back {
    /* Flip the back side */
    transform: rotateY(180deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #425975;
    color: var(--text-color);
    font-size: var(--font-size-medium);
}

.band-card:hover .band-card-inner {
    transform: rotateY(180deg);
    /* Flip the card on hover */
}

.band-card label {
    font-size: var(--font-size-large);
    margin-bottom: 10px;
    text-align: center;
}

/* Checkbox Styles */
.checkbox-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.band-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Date Input Styles */
input[type="date"].styled-date {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    background-color: var(--foreground-color);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    outline: unset;
    transition: 0.1s ease-in-out;

}

input[type="date"].styled-date:focus {
    border-color: var(--accent);
    background-color: var(--accent-hover);

}

